@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  background-color: rgb(174, 255, 174);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1; /**/
  top: 0;
  cursor: pointer;

  background-color: rgb(132, 255, 132);
  border-bottom: 0.05rem solid rgb(0, 188, 0);
}
.logo {
  display: flex;
  margin-left: 1vw;
  width: 40%;
  margin-top: 1vh;
  color: rgb(30, 142, 30);
}
.navbar:hover .logo span {
  color: darkred;
  transition: 0.5s;
}
.navbar:hover h2 {
  border-bottom: 0.1rem double darkred;
  transition: 0.5s ease-out;
}
.navbar h2 {
  margin-left: 1vw;
  font-family: "Aboreto", cursive;
}
.navlist {
  width: 60%;
  font-family: "Playfair Display", serif;
}
.navlist ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.navlist ul a {
  text-decoration: none;
  color: darkgreen;
  transition: 0.5s ease-out;
}
.navlist ul a:hover {
  color: rgb(168, 0, 0);
  border-bottom: 0.1rem solid darkgreen;
}
/* .btn1 {
  background-color: rgb(124, 255, 88);
  color: rgb(0, 85, 0);
  border: 0.1rem solid darkgreen;
  border-radius: 7%;
  padding: 0.3rem;
  padding-bottom: 0.4rem;
  font-family: "Playfair Display", serif;
  transition: 0.3s ease-in-out;
}
.btn1:hover {
  background-color: rgb(0, 160, 0);
  color: bisque;
  border-color: rgb(0, 165, 5);
} */


.head h1 {
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    color: green;
    margin: 1vh 0 0 2vw;
  }
  .headmain h2 {
    font-family: "Oswald", sans-serif;
    color: green;
    font-size: 1.5rem;
    margin: 3vh 0 -3vh 12vw;
  }

  .headmain p {
    margin: 4vh 25vh 0 12vw;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: darkgreen;
  }
  .headmain span{
    color: darkgreen;
    font-weight: 600;
  }
  
  .headmain ul{
      margin: 1vh 25vh 0 12vw;
      font-size: 1.1rem;
      font-family: 'Raleway', sans-serif;
  }
  .headmain ul li{
      margin-top: 2vh;
  }
  .img1{
    margin: 2vh 0 0 20vw;
  }
  .img2{
    margin: 2vh 0 0 16vw;
    height: 70vh;
    width: auto;
  }
  .img3{
    margin: 2vh 0 0 15vw;
    height: 70vh;
    width: auto;
  }
  
.end{
    margin-top: 10vh;
    background-color: rgba(0, 16, 79, 0.113);
    padding-top: 3vh;
    border-top: 0.2rem double black;
  }
  
  .footname h2 {
  
    font-family: "Aboreto", cursive;
    letter-spacing: 9px;
    margin-left: 36vw;
    margin-right: 37vw;
  color: green;
  }
  
  .handels ul{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    list-style: none;
    margin-left: -8rem;
  }
  .handels ul li a{
  margin-left: 3rem;
    transition: 0.5s;
  }
  
  .handels ul li img{
    height: 4vh;
    width: auto;
  }
  
  .mininav ul{
    display: block;
    margin-top: -0.8rem;
  }
  .mininav h4{
    margin-left: 3vw;
    font-family: "Mouse Memoirs", sans-serif;
    letter-spacing: 2.5px;
    color: rgb(0, 101, 15);
  }
  .mininav ul li {
    margin-top: 0.2rem;
    list-style-position: inside;
    list-style: none;
    font-family: 'Merriweather', serif;
  
  }
  .mininav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
  }
  .mininav ul li a:hover{
  border-left: 0.15rem solid rgb(189, 97, 0);
  padding-left: 0.2rem;
  }
  .totop{
  margin-left: 45.5vw;
  margin-top: 1vh;
  
  }
  .totop a{
    text-decoration: none;
    margin-left: -3vw;
    font-family: "Mouse Memoirs", sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: green;
  }
  .totop a:hover{
    color: black;
  }
  .copyright{
    margin-left: 42.8vw;
    margin-top: 2vh;
    padding-bottom: 1vh;
  }
  .copyright a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: black ;
  }