@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  background-color: rgb(174, 255, 174);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index:1;/**/
  top: 0;
  cursor: pointer;

  background-color: rgb(132, 255, 132);
  border-bottom: 0.05rem solid rgb(0, 188, 0);
}
.logo {
  display: flex;
  margin-left: 1vw;
  width: 40%;
  margin-top: 1vh;
  color: rgb(30, 142, 30);
}
.navbar:hover .logo span {
  color: darkred;
  transition: 0.5s;
}
.navbar:hover h2 {
  border-bottom: 0.1rem double darkred;
  transition: 0.5s ease-out;
}
.navbar h2 {
  margin-left: 1vw;
  font-family: "Aboreto", cursive;
}
.navlist {
  width: 60%;
  font-family: "Playfair Display", serif;
}
.navlist ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.navlist ul a {
  text-decoration: none;
  color: darkgreen;
  transition: 0.5s ease-out;
}
.navlist ul a:hover {
  color: rgb(168, 0, 0);
  border-bottom: 0.1rem solid darkgreen;
}